<section class="order--block container">
  <div class="order--box">
    <div class="order--img order--img__time">
      <img src="./assets/image/Time Circle.svg" alt="" class="icon" />
    </div>
    <div class="order--detail">
      <span class="order--title">در حال پردازش</span>
      <span class="order--desc">۵ سفارش</span>
    </div>
  </div>

  <div class="order--box">
    <div class="order--img order--img__check">
      <img src="./assets/image/Check Circle.svg" alt="" class="icon" />
    </div>
    <div class="order--detail">
      <span class="order--title">تحویل شده</span>
      <span class="order--desc">۴ سفارش</span>
    </div>
  </div>

  <div class="order--box">
    <div class="order--img order--img__return">
      <img src="./assets/image/circle-u-turn-left-up.svg" alt="" class="icon" />
    </div>
    <div class="order--detail">
      <span class="order--title">مرجوعی</span>
      <span class="order--desc">۲ سفارش</span>
    </div>
  </div>

  <div class="order--box">
    <div class="order--img order--img__close">
      <img src="./assets/image/Close Circle.svg " alt="" class="icon" />
    </div>
    <div class="order--detail">
      <span class="order--title">لغو شده</span>
      <span class="order--desc">۳ سفارش</span>
    </div>
  </div>
</section>
