:root {
  --color-blue-300: #448cf91a;
  --color-blue-700: #2e7af1;
  --color-green-300: #1bac441a;
  --color-red-300: #e5303f1a;
  --color-red-primery: #cc312d;
  --color-red-secondery: #2f0d0c;
  --color-gray-200: #f7f7f7;
  --color-gray-300: #1717171a;
  --color-gray-600: #494a48;
  --color-black: #1a1814;

  --font-family: "IRANSansX";
}
/* defulte web PX size */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  transition: all 0.2s;
}

/* icons */
.icon {
  max-width: 2.3rem;
}

/* badge */
.badge {
  display: flex;
  gap: 0.8rem;
  padding: clamp(0.9rem, 2.5vw, 1.2rem) clamp(1.4rem, 2.5vw, 1.9rem);
  background-color: var(--color-blue-300);
  align-items: center;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  line-height: 1.4;
  font-weight: 700;
  color: var(--color-blue-700);
  justify-content: center;
  max-width: 14.3rem;
  align-self: flex-start;
  border-radius: 3.2rem;
}
.container {
  max-width: 100%;
  margin: auto 0;
  padding: 0 2rem;
}
@media screen and (min-width: 64rem) {
  .container {
    max-width: 80vw;
    margin: auto 0;
  }
}

/* order section */
.order--block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1.6rem, 4vw, 2rem);
  overflow-y: auto;
  padding: 2rem 0;
}
.order--box {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  padding: clamp(1rem, 2vw, 2.4rem) clamp(2rem, 2vw, 2.4rem);
  border: solid #ebebeb 2px;
  border-radius: 1.6rem;
  transition: border 0.2s ease-in-out;
}
.order--box:hover {
  border: solid var(--color-red-primery) 2px;
}
.order--img {
  display: flex;
  padding: 1.6rem;
  border-radius: 1rem;
}
.order--img__time {
  background-color: var(--color-blue-300);
}
.order--img__check {
  background-color: var(--color-green-300);
}
.order--img__return {
  background-color: var(--color-gray-300);
}
.order--img__close {
  background-color: var(--color-red-300);
}
.order--detail {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.order--title {
  text-wrap: nowrap;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  font-weight: 600;
  color: var(--color-gray-600);
}
.order--desc {
  text-wrap: nowrap;
  font-size: clamp(1.2rem, 2.5vw, 1.6rem);
  font-weight: 600;
  color: var(--color-black);
}

@media screen and (min-width: 40rem) {
  .order--box {
    justify-self: stretch;
  }
}

@media screen and (min-width: 48rem) {
  .order--block {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 90rem) {
  .order--block {
    grid-template-columns: repeat(4, 1fr);
  }
}
